<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Icons -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!-- Socket IO -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!-- Javascript -->
    <script src="static/main.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Bungee+Shade|IBM+Plex+Mono|IBM+Plex+Sans:100,100i,400,700&display=swap" rel="stylesheet">
    <!-- Script for loading page -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const MAX_MESSAGES = 100;

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('connect', function () {
                var current_chan = '{{ current_channel }}'
                socket.emit('join', { 'username': '{{ user }}', 'channel': current_chan })
                socket.emit('update messages', { 'username': '{{ user }}', 'channel': current_chan })
            });

            function listen_for_channel_clicks(event) {
               

                socket.emit('join', { 'username': '{{ user }}', 'channel': event.target.dataset.page })
                socket.emit('update messages', { 'username': '{{ user }}', 'channel': event.target.dataset.page })
            }

            const characterList = document.querySelector('#channels-list')
            characterList.addEventListener('click', listen_for_channel_clicks)

            socket.on('update channel data', function (data) {
                load_page(data);
            });

            socket.on('update channel messages', data => {
                text_messages = data.all_messages;
                clearBox("messages");

                var i;
                for (i = 0; i < MAX_MESSAGES; i++) {

                    if (i == text_messages.length){
                        break;
                    }

                    var user = text_messages[i].user;
                    var message = text_messages[i].message;
                    var timestamp = text_messages[i].timestamp;
                    const li = document.createElement('li');
                    li.setAttribute("class", "list-group-item d-flex justify-content-between align-items-center")
                    li.setAttribute("id", "single-message")
                    li.innerHTML = `${user}  : ${message}`;
                    const span = document.createElement('span');
                    span.setAttribute("class", "timestamp")
                    span.innerHTML = `${timestamp}`;
                    li.append(span);
                    document.querySelector('#messages').append(li);
                }
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        });

    </script>

    <title>Intergallactic Chat!</title>
</head>

<body>
    <div class="sidebar">
        <div>
            <div class="insidebar">
                <!-- sidebar -->
                <div class="sidebar-content">
                    <div>
                        <!-- Logo -->
                        <h1 class="logo">Intergallactic Chat </h1>
                        <ul class="user-id" style="list-style: none;">
                            <li class="username">
                                <i id="astronauticon" class="fas fa-user-astronaut"></i>
                                {{user}}
                            </li>

                        </ul>
                    </div>
                    <div class="channels-sidebar">
                        <!-- Channels -->
                        <div class="add-channel">
                            <h2 class="channel-heading">
                                Channels
                                <button data-toggle="tooltip" data-placement="top" title="Create Channel"
                                    onclick="openForm()" id="plus-button">
                                    <i id="plus-icon" class='fas fa-plus-circle' style='font-size:19px'></i>
                                </button>
                            </h2>
                        </div>
                        <ul id="channels-list" class="list-group">
                            

                        </ul>

                        <div class="form-popup" id="form_new_channel">

                            <form class="col text-center " action="" id="channel_form">
                                <p id="channel-title" class="h4 text-center py-4">New Channel</p>

                                <div class="input-group ">
                                    <span id="channel-icon" class="input-group-addon">
                                        <i class="fas fa-satellite"></i>
                                    </span>
                                    <input type="text" name="channel_name" class="form-control" id="channel_name"
                                        autocomplete="off" placeholder="Channel Name">


                                    <div id="channel-button-container">
                                        <button type="submit" id="channel-button" class="btn btn-info "
                                            onclick="closeForm()">Create Channel
                                        </button> </div>
                                </div>
                            </form>

                        </div>



                        <div id="channel_error_message"></div>

                    </div>

                </div>
            </div>

            <div class="outsidebar">
                <!-- non-sidebar -->




                <div id="channel-content"> </div>
                <div id="messages-separator">
                    <hr>
                </div>





                <!-- <div id="current_channel">
                    <ul id="messages" data-user='{{ user}}'>
                    </ul>
                    <hr>

                </div> -->


                <div id="current_channel" class="message-stack">

                    <div class="message-div">
                        <ul id="messages" class="list-group" data-user='{{ user}}'>
                        </ul>
                    </div>


                    <!-- Message Bar and Button -->
                    <div class="message-bar">
                        <form action="" class="chat" id="chat" >
                            <div class="input-group mb-3 " >
                                <input name="m" id="m" autocomplete="off" type="text" class="form-control"
                                    placeholder="Send Transmission" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <!-- <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Send</button>
                                </div> -->
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>




</html>